<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forestal Rio Uruguay</title>

    <link rel="stylesheet" href="../estilos/normalize.css" type="text/css">
    <link rel="preload" href="../estilos/styles.css" as="style">
    <link rel="stylesheet" href="../estilos/styles.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/air-americana" rel="stylesheet">
</head>
<body>

    <div class="banner">
        <nav> 
            <a href="../index.html">           
                <img class="logo" src="../img/logo.png" alt="logo svg">
            </a>

            <ul class="enlaces-menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="../index.html">Contacto</a></li>
            </ul>

            <svg xmlns="http://www.w3.org/2000/svg" class="menu-icono icon icon-tabler icon-tabler-menu-2" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f3f3f3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="4" y1="6" x2="20" y2="6" />
                <line x1="4" y1="12" x2="20" y2="12" />
                <line x1="4" y1="18" x2="20" y2="18" />
            </svg>
        </nav>
    </div>

    <main class="contenedor sombra">
        <h1>SOBRE NOSOTROS</h1>
    
        <div class="nosotros">        
            <div class="nosotros__texto">
                
                <h3>MISION Y VISION</h3>
                <hr>
                    
                <h4>Calidad, servicio y expedición</h4>
                
                <p>   
                    Guillermo y Alejandro Lemes, padre e hijo, trabajadores madereros, decidieron en 2018 desembarcar comercialmente en Miramar.
                    En principio, Alejandro, se había encantado con la Ciudad de Los Niños desde 1996, cuando ingresó a estudiar en la Secundaria 
                    Agraria N° 1, Bernardo Yraizoz. Trabajando ambos desde siempre bajo relación de dependencia, en 2018 emprendieron el proyecto
                    de Forestal Rio Uruguay, una empresa familiar que crece diariamente, y, por sobre todas las cosas, suma la confianza de una 
                    amplia clientela.
                    
                </br>
                </br>
                    La familia creadora de FORESTAL RIO URUGUAY, trae los valores de la provincia de Misiones, ellos siempre fueron empleados 
                    trabajadores del rubro, hasta que en 2018 surgió la posibilidad de instalar la maderera y ejecutar un sueño muy esperado.
                    Guillermo, propietario de la empresa, hace 30 años llegó a vivir a  Mar del Plata, ya que en su momento trabajó en una 
                    maderera japonesa que decidió traer una filial a la vecina localidad. Continuo trabajando en la misma empresa hasta jubilarse,
                    mientras sus tres hijos estudiaban en Miramar .
                    En voz de nuestros clientes, lo más importante, son nuestros precios y calidad: Forestal Rio Uruguay es una empresa familiar 
                    donde nos esmeramos en atender a cada persona que nos visita.
                </br>
                </br>
                    Con la visión en la calidad de nuestros productos y la atencion personalizada a nuestros clientes, tenemos el objetivo de 
                    facilitar todas las herramientas para cada proyecto que involucre madera, de excelente calidad, y con valores de un equipo 
                    humano destacado.

                </br>
                </br>
                    Gracias por visitar nuestra web, los invitamos a descubrir todos nuestros productos y servicios
                        
                </p>
            </div>
            <img class="nosotros__imagen" src="../img/nosotros.jpeg" alt="Imagen Sobre Nosotros">
        </div>
    
    
        <hr>

        <section class="contenedor comprar">
            <h2 class="comprar__titulo">¿Porqué Comprar con nosotros?</h2>
    
            <div class="bloques">
                <div class="bloque">
                    <img class="bloque__imagen" src="../img/icono_precio.png" alt="porque comprar">
                    <h3 class="bloque__titulo">El Mejor Precio</h3>
                    <p>Compara precios y gana en calidad y servicio . Tenemos los mejores presupuestos de la ciudad para tu próximo proyecto!</p>
                </div> <!--.bloque-->
    
                <div class="bloque">
                    <img class="bloque__imagen" src="../img/icono_3.png" alt="porque comprar">
                    <h3 class="bloque__titulo">Envíos puerta a puerta</h3>
                    <p>Tene en la puerta de tu casa o negocio , los productos en menos 24 horas luego de tu pedido . Consulta por envíos fuera de Miramar</p>
                </div> <!--.bloque-->
    
                <div class="bloque">
                    <img class="bloque__imagen" src="../img/icono_4.png" alt="porque comprar">
                    <h3 class="bloque__titulo">La Mejor Calidad</h3>
                    <p>Trabajamos con materias primas de excelencia y seleccionamos las mejores maderas para venta al público . Descubrílas!</p>
                </div> <!--.bloque-->
            </div><!--.bloques-->
        </section> 
    </main>
    

    <footer class="footer">
        
        <section class="footer-campos">
            <h3>Ubicacion</h3>
            <p>Av. 9 N° 2828</p>
            <p>Miramar - CP 7607 - Bs. As. Argentina</p>
        </section>

        
        <section class="footer-campos">
            <h3>Informacion</h3>
            <p>Lunes a Viernes</p>
            <p>De 8 a 12 hs. y de 14 a 18 hs.</p>
            <p>0223-5487673</p>
        </section>

        
        <section class="footer-campos">
            <h3>Redes Sociales</h3>
            <a href="https://www.facebook.com/Forestal-Rio-Uruguay-106808325284711" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" class="icono-redes icon icon-tabler icon-tabler-brand-facebook" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fafafa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                </svg>
            </a>
            
            <a href="https://www.instagram.com/explore/locations/106808325284711/forestal-rio-uruguay/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" class="icono-redes icon icon-tabler icon-tabler-brand-instagram" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fafafa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <rect x="4" y="4" width="16" height="16" rx="4" />
                    <circle cx="12" cy="12" r="3" />
                    <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                </svg>
            </a>
        </section>

    </footer>
    
    <script src="../js/main.js"></script>
</body>
</html>