<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forestal Rio Uruguay</title>

    <link rel="stylesheet" href="../estilos/normalize.css" type="text/css">
    <link rel="preload" href="../estilos/styles.css" as="style">
    <link rel="stylesheet" href="../estilos/styles.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/air-americana" rel="stylesheet">
</head>
<body>

    <div class="banner">
        <nav> 
            <a href="../index.html">           
                <img class="logo" src="../img/logo.png" alt="logo svg">
            </a>

            <ul class="enlaces-menu">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="../index.html">Contacto</a></li>
            </ul>

            <svg xmlns="http://www.w3.org/2000/svg" class="menu-icono icon icon-tabler icon-tabler-menu-2" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f3f3f3" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <line x1="4" y1="6" x2="20" y2="6" />
                <line x1="4" y1="12" x2="20" y2="12" />
                <line x1="4" y1="18" x2="20" y2="18" />
            </svg>
        </nav>
    </div>

    <main class="contenedor sombra">
        <h1 class="h1-producto">Nuestros Productos</h1>
        
        <div class="grid">
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/saligna-bruto.jpg" alt="saligna bruto">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Saligna Bruto</p>
                    </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/saligna-cepillada.jpg" alt="Saligna Cepillada">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Tablas de Saligna cepillada</p>
                    </div>  
            </div>
            
            <div class="producto">
                <img class="producto__imagen" src="../img/productos/tabla-saligna-cepillada.jpg" alt="Tabla Saligna Cepillada">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Tablas de Saligna cepillada</p>
                    </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/saligna-grandis.jpg" alt="Deck Grandis">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Deck Grandis</p>
                    </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/machimbre-grandis.jpg" alt="Machimbre Grandis">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Machimbre Grandis</p>
                    </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/tablero-grandis.jpg" alt="Tableros Grandis">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Tablero Grandis</p>
                    </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/poste-eucalipto-impregnado.jpg" alt="Poste Eucalipto">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Postes de Eucalipto</p>
                    </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/poste-pino.jpg" alt="Postes de Pino">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Postes de pino</p>
                    </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/tirante-pino.jpg" alt="Tirantes de Pino">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Tirantes de pino</p>
                    </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/machimbre-pino.jpg" alt="Mahchimbre de Pino">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Mahchimbre de Pino</p>
                    </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/clavos.jpg" alt="Clavos">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Clavos</p>
                    </div>  
            </div>

            <div class="producto">
                <img class="producto__imagen" src="../img/productos/autoperforante.jpg" alt="Autoperforante">
                <div class="producto__informacion">
                    <p class="producto__nombre">Tornillos Autorperforantes</p>
                </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/chapa-acanalada.jpg" alt="Chapa acanalada">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Chapa Acanalada</p>
                    </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/chapa-trapezoidal.jpg" alt="Chapa trapezoidal">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Chapa trapezoidal</p>
                    </div>  
            </div>
            
            <div class="producto">
                    <img class="producto__imagen" src="../img/productos/rollo-aislante.jpg" alt="Aislante">
                    <div class="producto__informacion">
                        <p class="producto__nombre">Rollo Aislante</p>
                    </div>  
            </div>

            <div class="producto">
                <img class="producto__imagen" src="../img/productos/rollo-lana.jpg" alt="Rollo Lana">
                <div class="producto__informacion">
                    <p class="producto__nombre">Rollo de Lana de Vidrio</p>
                </div>  
        </div>

        <div class="producto">
            <img class="producto__imagen" src="../img/productos/ruberoid.jpg" alt="Ruberoid">
            <div class="producto__informacion">
                <p class="producto__nombre">Ruberoid</p>
            </div>  
    </div>
        </div>
    </main>
    

    <footer class="footer">
        
        <section class="footer-campos">
            <h3>Ubicacion</h3>
            <p>Av. 9 N° 2828</p>
            <p>Miramar - CP 7607 - Bs. As. Argentina</p>
        </section>

        
        <section class="footer-campos">
            <h3>Informacion</h3>
            <p>Lunes a Viernes</p>
            <p>De 8 a 12 hs. y de 14 a 18 hs.</p>
            <p>0223-5487673</p>
        </section>

        
        <section class="footer-campos">
            <h3>Redes Sociales</h3>
            <a href="https://www.facebook.com/Forestal-Rio-Uruguay-106808325284711" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" class="icono-redes icon icon-tabler icon-tabler-brand-facebook" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fafafa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                </svg>
            </a>
            
            <a href="https://www.instagram.com/explore/locations/106808325284711/forestal-rio-uruguay/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" class="icono-redes icon icon-tabler icon-tabler-brand-instagram" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fafafa" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <rect x="4" y="4" width="16" height="16" rx="4" />
                    <circle cx="12" cy="12" r="3" />
                    <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                </svg>
            </a>
        </section>

    </footer>
    
    <script src="../js/main.js"></script>
</body>
</html>